<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Golang Templates Example
        </title>
    </head>
    <body>
        {{$wisdom := .}}
        <p>The answer to the life is {{$wisdom}}</p>
    </body>
</html>
