<!DOCTYPE HTML>
<html>
<head>
    <title>
        Golang Templates Example
    </title>
</head>
<body>
<ul>
    {{range .Capitals}}
        <li>{{.Name}} is capital of {{.Country}} and its currency is {{.Currency}}</li>
    {{end}}
</ul>
<ul>
    {{range .Companies}}
        <li>{{.Name}} manufactures {{.Product}}</li>
    {{end}}
</ul>
</body>
</html>
