<!DOCTYPE HTML>
<html>
<head>
    <title>
        Golang Templates Example
    </title>
</head>
<body>
<ul>
    <p>{{.Capital}} is capital of {{.Country}} and its currency is {{.Currency}}</p>
</ul>
</body>
</html>
